* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    animation: transitionIn 0.75s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.container {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

@media(max-width: 768px) {
    .container {
        height: auto;
    }
}

.video-bg img{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -3;
    opacity: 0.8;
}
.video-upper{
    width: 100%;
    height: 55vh;
    background-color: white;
    left: 0px;
    top: 0px;
}
.container2{
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));
}
.float-container{
    width: 90%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;
    background: white;
    box-shadow: 0px 3px 6px 0px black;
}
.nav{
    position: absolute;
    width: 100%;
    height: auto;
    float: right;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
}
.nav img{
    position: absolute;
    width: 78px;
    height: 78px;
    right: 20px;
    top: 25px;
}
.nav h4{
    position: absolute;
    top: 50px;
    right: 110px;
    color: red;
    font-size: 2vw;
}


.leadership{
    width: 90%;
    height: auto;
    margin: auto;
    background: white;
    margin-top: -230px;
    margin-left: -60px;
    box-shadow: 0px 32px 64px 0px black;
    border-radius: 0px 0px 40px 40px;
}

.leadership h3{
    text-align: center;
    margin: auto;
    padding: 40px;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.founder{
    width: 80%;
    margin: auto;
    margin-left: 0px;
    background: orange;
    margin-bottom: 100px;
    box-shadow: 0px 3px 6px 0px black;
    border-radius: 0px 250px 250px 0px;


    

}
.founder h3{
    padding: 40px;
    font-size: 1.4vw;
    font-weight: 500;
    
}

.director-content img{
    left: 150px;
    top: 160px;
    width: 350px;
    height: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);

}
.color-bg{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 18vh;
    background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));
}

.nav .director{
    width: 100%;
    height: auto;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: 134px 0px 0px 0px;
    background: white;
}

.nav .director .director-content{
    width: auto;
    height: auto;
    top: 0px;
    padding: 30px;
    font-size: 1.4vw;
    margin: 0px 0px 0px 480px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    
}

.nav .director .director-content h1{
    
    border-bottom: 1px solid black;
}

.nav .director .director-content span{
    color: blueviolet;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}
.buisness-developer img{
    width: 26vw;
    height: auto;
    margin: 0px 0px 0px 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    
    
}



.nav-img{
    position: absolute;
    width: 80%;
    height: 410px;
    display: inline-block;
    right: 0px;
    opacity: 0.4;
    
}

.buisness-developer{
    width: 100%;
    height: auto;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;

}

.buisness-developer .bd-content{
    width: 30vw;
    height: 35vw;
    padding: 30px;
    font-size: 1.4vw;
    margin: 40px 0px 50px 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    border-radius: 0px;
   
}

.buisness-developer .bd-content h1{
    border-bottom: 1px solid black;
}



.buisness-developer2 img{
    width: 26vw;
    height: auto;
    margin: 20px 0px 20px 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
}

.buisness-developer2{
    width: 100%;
    height: auto;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

.buisness-developer2 .bd-content2{
    width: 30vw;
    height: 35vw;
    padding: 30px;
    font-size: 1.4vw;
    margin: 50px 0px 20px 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    border-radius: 0px;
}

.buisness-developer2 .bd-content2 h1{
    border-bottom: 1px solid black;
}

.operations img{
    
    width: 350px;
    height: 350px;
    margin: 0px 0px 0px 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
}

.operations{
    width: 100%;
    height: auto;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

.operations .operations-content{
    
   
    width: 480px;
    height: auto;
    max-height: 200px;
    padding: 15px;
    margin: 40px 0px 50px 50px;
    border: 1px solid black;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 2);
    border-radius: 20px;
}

.over-line{
    width: 51.8%;
    height: 200px;
    /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
    background: orange;
    box-shadow: 0px 3px 6px 0px black;
    position: absolute;
    top: 174vh;
    z-index: 1;
}

.over-line2{
    width: 22.1%;
    height: 200px;
    /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
    background: orange;
    box-shadow: 0px 3px 6px 0px black;
    position: absolute;
    top: 174vh;
    right: 0px;
    z-index: 12;
}

.over-line3{
    width: 17.3%;
    height: 200px;
    /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
    background: orange;
    box-shadow: 0px 3px 6px 0px black;
    position: absolute;
    top: 294vh;
    z-index: 12;
}

.over-line4{
    width: 56.5%;
    height: 200px;
    /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
    background: orange;
    box-shadow: 0px 3px 6px 0px black;
    position: absolute;
    top: 294vh;
    right: 0px;
    z-index: 12;
}

/*.over-line5{
    width: 100%;
    height: 200px;
    /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));
    background: orange;
    box-shadow: 0px 3px 6px 0px black;
    position: absolute;
    top: 500px;
    z-index: 12;
}*/












/*---------------------------------scroller-------------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(209, 52, 52);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(231, 17, 17);
    
  }


  /*------------------------footer menu-------------------------------*/

.footer_bg {
    width: 100%;
    height: 59vh;
    background-color: rgb(10, 10, 10);
    z-index: 1;
    border-top: 2px solid wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 ;
}


.footer_bg .fb{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-top: 30px;
    transition: 0.6s all ease-in-out;
   
}
.footer_bg .fb:hover{
    transform: scale(1.1);
}
.footer_bg .twitter{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 30px;
    transition: 0.6s all ease-in-out;
   
}
.footer_bg .twitter:hover{
    transform: scale(1.1);
}
.footer_bg .gplus{
    width: 42px;
    height: 42px;
    margin-left: 10px;
    margin-top: 30px;
    transition: 0.6s all ease-in-out;
   
}
.footer_bg .gplus:hover{
    transform: scale(1.1);
}
.footer_bg .ln{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 32px;
    transition: 0.6s all ease-in-out;
   
}
.footer_bg .ln:hover{
    transform: scale(1.1);
}
.footer_bg .yt{
    width: 40px;
    height: 40px;
    margin-left: 9px;
    margin-top: 33px;
    transition: 0.6s all ease-in-out;
   
}
.footer_bg .yt:hover{
    transform: scale(1.1);
}
.footer-nav{
    height: 58.7vh;
    width: 80px;
    left: 0px;
    top: 0px;
    background: linear-gradient(to top, rgba(221, 49, 49, 0.521), rgba(65, 90, 230, 0.521));

}
.footer_bg .footer-content2{

    top: 340px;
    left: 160px;
    width: auto;
    max-width: 100%;
    height: 50px;
    padding: 15px;
    text-align: right;
    right: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex: 1 1;

}
/*.footer_bg .footer-content2 a{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-weight: 700;

}
.footer-terms{
    
    top: 395px;
    left: 150px;
}
.footer-terms a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}
.footer-terms a:hover{
    transform: scale(1.1);
}*/
.footer-rights{
    
    width: auto;
    max-width: 100%;
    margin: auto;
    float: right;
    top: 355px;
    right: 0px;
    font-size: 13px;
    color: white;
}

.footer-menu{
    position: relative;
    margin-left: 65px;
    margin-top: 25px;
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1;

}


.footer-aboutus{
    top: 25px;
    width: auto;
    left: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}
.footer-aboutus b span{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;
}
.footer-aboutus a{
    text-decoration: none;
    margin-top: 10px;
    width: 130px;
    color: white;
    text-align: left;
    font-size: 18px;
    transition: 0.1s all ease-in-out;
}
.footer-aboutus a:hover{
    border-bottom: 1px solid red;
    transform: scale(1.1);
}


.corporate-sales{
    top: 25px;
    left: 0px;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}
.corporate-sales b span{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;
}
.corporate-sales a{
    text-decoration: none;
    margin-top: 10px;
    width: 148px;
    color: white;
    text-align: left;
    font-size: 18px;
    padding: 2px;
    transition: 0.1s all ease-in-out;
}
.corporate-sales a:hover{
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

.manufacturing{
    top: 25px;
    left: 0px;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}
.manufacturing b span{
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;

}
.manufacturing a{
    text-decoration: none;
    margin-top: 10px;
    width: 150px;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-left: 0px;
    transition: 0.1s all ease-in-out;
}
.manufacturing a:hover{
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

.footer-life-at{
    top: 0px;
    left: 0px;
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-life-at a{
    text-decoration: none;
    width: auto;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 0px;
    transition: 0.1s all ease-in-out;
    
}
.footer-life-at a:hover{
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/


@media(max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .container {
        width: auto;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    
    
    
    .video-bg img{
        position: fixed;
        width: 100%;
        height: auto;
        z-index: -3;
        opacity: 0.8;
    }
    .video-upper{
        width: 100%;
        height: 55vh;
        background-color: white;
        left: 0px;
        top: 0px;
    }
    .container2{
        width: 100%;
        height: auto;
        min-height: 200vh;
        margin-top: 50vh;
        background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));
    }
    .float-container{
        width: 90%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        background: white;
        box-shadow: 0px 3px 6px 0px black;
    }
    .nav{
        position: absolute;
        width: 100%;
        height: auto;
        float: right;
        display: flex;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    }
    .nav img{
        position: absolute;
        width: 78px;
        height: 78px;
        right: 20px;
        top: 185px;
    }
    .nav h4{
        position: absolute;
        top: 263px;
        right: 23px;
        color: red;
        font-size: 4vw;
    }


    .leadership{
        width: 100vw;
        height: auto;
        margin: auto;
        background: white;
        margin-top: -230px;
        margin-left: -70px;
        box-shadow: 0px 32px 64px 0px black;
        border-radius: 0px 0px 40px 40px;
    }
    
    .leadership h3{
        width: 95vw;
        text-align: center;
        margin: auto;
        padding: 20px;
        font-size: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }


    .founder{
        width: 80%;
        margin: auto;
        margin-left: 0px;
        background: orange;
        margin-bottom: 100px;
        box-shadow: 0px 3px 6px 0px black;
        border-radius: 0px 250px 250px 0px;
    
    
        
    
    }
    .founder h3{
        padding: 20px;
        font-size: 2.4vw;
        font-weight: 500;
        
    }



    .director img{
        left: 10px;
        top: 160px;
        width: 55vw;
        height: 55vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    
    }
    .color-bg{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 18vh;
        background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));
    }
    
    .nav .director{
        width: 100%;
        height: auto;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        margin: 134px 0px 0px 0px;
        background: white;
    }
    
    .nav .director .director-content{
        width: 700px;
        height: 400px;
        top: 0px;
        padding: 25px;
        font-size: 3.5vw;
        margin: 150px 0px 0px 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        
    }
    .nav .director .director-content h1{
        font-size: 4.7vw;
        border-bottom: 1px solid black;
    }
    .nav .director .director-content h3{
        font-size: 3.6vw;
        
    }
    
    .nav .director .director-content span{
        color: blueviolet;
        font-weight: bold;
        font-family: arial;
        text-decoration: none;
    }
    .buisness-developer img{
        width: 55vw;
        height: auto;
        margin: -150px 0px 0px 15px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        
        
    }
    
    
    
    .nav-img{
        position: absolute;
        width: 80%;
        height: 410px;
        display: inline-block;
        right: 0px;
        opacity: 0.4;
        
    }
    
    .buisness-developer{
        width: 100%;
        height: auto;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
    
    }
    
    .buisness-developer .bd-content{
        width: 100vw;
        height: 100vw;
        padding: 30px;
        font-size: 3.5vw;
        margin: -50px 0px 0px -50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        border-radius: 0px;
       
    }

    .buisness-developer .bd-content h1{
        font-size: 4.7vw;
        border-bottom: 1px solid black;
    }

    .buisness-developer .bd-content h3{
        font-size: 3.5vw;
        
    }
    
    
    
    
    .buisness-developer2 img{
        width: 55vw;
        height: auto;
        margin: 20px 0px 20px 0px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    }
    
    .buisness-developer2{
        width: 100%;
        height: auto;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .buisness-developer2 .bd-content2{
        
        
        width: 100vw;
        height: auto;
        padding: 30px;
        margin: -20px 0px 20px -50px;
        font-size: 3.5vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        border-radius: 0px;
    }

    .buisness-developer2 .bd-content2 h1{
        font-size: 4.7vw;
        border-bottom: 1px solid black;
    }

    .buisness-developer2 .bd-content2 h3{
        font-size: 3.7vw;
    }
    
    .operations img{
        
        width: 350px;
        height: 350px;
        margin: 0px 0px 0px 110px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    }
    
    .operations{
        width: 100%;
        height: auto;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .operations .operations-content{
        
       
        width: 480px;
        height: auto;
        max-height: 200px;
        padding: 15px;
        margin: 40px 0px 50px 50px;
        border: 1px solid black;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 2);
        border-radius: 20px;
    }
    
    .over-line{
        width: 29.5%;
        height: 150px;
        /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
        background: orange;
        box-shadow: 0px 3px 6px 0px black;
        position: absolute;
        top: 170vh;
        z-index: 1;
    }
    
    .over-line2{
        width: 15.1%;
        height: 150px;
        /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
        background: orange;
        box-shadow: 0px 3px 6px 0px black;
        position: absolute;
        top: 170vh;
        right: 0px;
        z-index: 12;
    }
    
    .over-line3{
        width: 25.6%;
        height: 150px;
        /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
        background: orange;
        box-shadow: 0px 3px 6px 0px black;
        position: absolute;
        top: 240vh;
        z-index: 12;
    }
    
    .over-line4{
        width: 19%;
        height: 150px;
        /*background: linear-gradient(to top, rgb(49, 144, 221), rgb(65, 200, 230));*/
        background: orange;
        box-shadow: 0px 3px 6px 0px black;
        position: absolute;
        top: 240vh;
        right: 0px;
        z-index: 12;
    }
    
   
    
    
    /*---------------------------------scroller-------------------------------------------------*/
    
    /* width */
    ::-webkit-scrollbar {
        width: 0px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: none;
        
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(209, 52, 52);
        border-radius: 20px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(231, 17, 17);
        
      }
    
    
      /*------------------------footer menu-------------------------------*/
    
      .footer_bg {
        width: 100%;
        height: auto;
        min-height: 126vh;
        left: 0px;
        top: 496vh;
        background-color: rgb(10, 10, 10);
        z-index: 1;
        border-top: 2px solid wheat;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1;
    }


    .footer_bg .fb {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        margin-top: 50px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .fb:hover {
        transform: scale(1.1);
    }

    .footer_bg .twitter {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-top: 80px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .twitter:hover {
        transform: scale(1.1);
    }

    .footer_bg .gplus {
        width: 42px;
        height: 42px;
        margin-left: 10px;
        margin-top: 80px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .gplus:hover {
        transform: scale(1.1);
    }

    .footer_bg .ln {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-top: 82px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .ln:hover {
        transform: scale(1.1);
    }

    .footer_bg .yt {
        width: 40px;
        height: 40px;
        margin-left: 9px;
        margin-top: 83px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .yt:hover {
        transform: scale(1.1);
    }

    .footer-nav {
        height: 125.7vh;
        width: 80px;
        margin-left: -13px;
        background: linear-gradient(to top, rgba(221, 49, 49, 0.521), rgba(65, 90, 230, 0.521));

    }

    .footer_bg .footer-content2 {
        position: absolute;
        top: 640px;
        left: 0px;
        width: auto;
        max-width: 100%;
        height: 50px;
        padding: 15px;
        text-align: right;
        right: 50px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: none;
        justify-content: space-around;
        flex: 1 1;

    }

    .footer_bg .footer-content2 a {
        text-decoration: none;
        color: white;
        margin-left: 0px;
        font-weight: 700;
        cursor: pointer;

    }

    .footer-terms {
        position: absolute;
        top: 895px;
        display: none;
        left: 0px;
    }

    .footer-terms a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        transition: 0.1s all ease-in-out;
    }

    .footer-terms a:hover {
        transform: scale(1.1);
    }

    .footer-rights {
        position: absolute;
        width: auto;
        max-width: 100%;
        margin: auto;
        float: right;
        top: 355px;
        right: 0px;
        font-size: 13px;
        color: white;
    }

    .footer-menu {
        position: relative;
        margin-left: 65px;
        margin-top: 25px;
        display: flex;
        padding: 25px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1 1;

    }


    .footer-aboutus {
        width: auto;
        margin-left: -30px;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .footer-aboutus b span {
        text-decoration: none;
        color: white;
        margin-left: -30px;
        font-size: 5vw;
        border-bottom: 1px solid red;
    }

    .footer-aboutus a {
        text-decoration: none;
        margin-top: 10px;
        width: 130px;
        color: white;
        text-align: left;
        font-size: 4vw;
        transition: 0.1s all ease-in-out;
    }

    .footer-aboutus a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }


    .corporate-sales {
        top: 25px;
        margin-left: -30px;
        margin-right: 40px;
        width: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .corporate-sales b span {
        text-decoration: none;
        color: white;
        margin-left: 0px;
        font-size: 5vw;
        border-bottom: 1px solid red;
    }

    .corporate-sales a {
        text-decoration: none;
        margin-top: 10px;
        width: 148px;
        color: white;
        text-align: left;
        font-size: 4vw;
        padding: 2px;
        transition: 0.1s all ease-in-out;
    }

    .corporate-sales a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .manufacturing {
        top: 25px;
        margin-left: -22px;
        margin-right: 50px;
        width: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .manufacturing b span {
        text-decoration: none;
        color: white;
        margin-left: -25px;
        font-size: 5vw;
        border-bottom: 1px solid red;

    }

    .manufacturing a {
        text-decoration: none;
        margin-top: 10px;
        width: 150px;
        color: white;
        text-align: left;
        font-size: 4vw;
        margin-left: 0px;
        transition: 0.1s all ease-in-out;
    }

    .manufacturing a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .footer-life-at {
        top: 0px;
        margin-left: -58px;
        display: flex;
        width: auto;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .footer-life-at a {
        text-decoration: none;
        width: auto;
        color: white;
        text-align: left;
        font-size: 5vw;
        margin-top: 20px;
        margin-left: 0px;
        transition: 0.1s all ease-in-out;

    }

    .footer-life-at a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .footer-logo {
        position: absolute;
        top: 0px;
        width: 100%;

    }

    .footer-logo img {
        display: none;
        position: relative;
        width: 78px;
        height: 78px;
        top: 110vh;
        float: right;
        right: -50px;
    }

    .footer-logo h4 {
        display: none;
        position: relative;
        color: red;
        top: 114vh;
        float: right;
        font-size: 25px;
        right: 145px;
    }


}