*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
}


body{
    animation: transitionIn 1s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



/*-----------------------------navbar-----------------------------*/

nav{
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 8vh;
    /*background: linear-gradient(to top, rgb(72, 159, 230), rgb(89, 190, 212));*/
    background: black;
    box-shadow: 0px 3px 6px 0px gray;
    z-index: 999;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 50px 0px 0px;
    
}
nav ul li{
    text-decoration: none;
    margin: 0px 40px 0px 0px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;


}

.about-drop{
    margin-right: 40px;
}
.about-drop a{
    color: white;
    text-decoration: underline 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;

}

.about-drop-content{
    background: white;
    width: 187px;
    height: auto;
    box-shadow: 0px 3px 6px 0px black;
    display: none;
    top: 40px;
    position: absolute;
    
}

.about-drop-content a{
    text-decoration: none;
    padding: 10px 25px 10px;
    float: left;
    width: 187px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.about-drop:hover .about-drop-content{
    display: block;
}
.about-drop-content a:hover{
    /*background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));*/
    /*background: rgb(240, 197, 191);*/
    background: rgba(255, 166, 0, 0.775);
}

.manu-bg{
    width: 100%;
    height: 60vh;
    margin: auto;
}
.manu-bg .bg{
    width: 100%;
    height: 80vh;
    opacity: 1;
    margin-top: 8vh;
    z-index: -1;
}

.heading{
   position: absolute;
   top: 72vh;
   width: 100%;
}
.heading h1{
    text-align: center;
    padding: 8px;
    background: white;
    font-size: 3rem;
    font-family: cinzel;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.content{
    background: white;
    margin: auto;
    margin-left: 0px;
    width: 80%;
    box-shadow: 0px 8px 16px 0px black;
    padding: 20px;
    border-radius: 0px 250px 0px 0px;
}

.heading p{
    background: white;
    margin: auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    width: 90%;
    text-align: center;
}


.paragraph{
    width: 80%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;
    background: rgb(245, 168, 25);
    box-shadow: 0px 8px 16px 0px black;
}

.paragraph p{
    padding: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/




@media(max-width: 768px) {

    
body{
    animation: transitionIn 1s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



 /*-----------------------------navbar-----------------------------*/
    
 nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    /*background: linear-gradient(to top, rgb(72, 159, 230), rgb(89, 190, 212));*/
    background: black;
    box-shadow: 0px 3px 6px 0px gray;
    z-index: 999;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 0px 0px 0px 10px;
    
}
nav ul li{
    text-decoration: none;
    margin: 10px 15px 0px 0px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    

}

.about-drop{
    margin-right: 15px;
    margin-top: 10px;
}
.about-drop a{
    color: white;
    font-size: 3vw;
    text-decoration: underline 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

.about-drop-content{
    background: white;
    width: 187px;
    height: auto;
    box-shadow: 0px 3px 6px 0px black;
    display: none;
    top: 40px;
    position: absolute;
    
}

.about-drop-content a{
    text-decoration: none;
    padding: 10px 25px 10px;
    float: left;
    width: 187px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.about-drop:hover .about-drop-content{
    display: block;
}
.about-drop-content a:hover{
    /*background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));*/
    /*background: rgb(240, 197, 191);*/
    background: rgba(255, 166, 0, 0.775);
}

.manu-bg{
    width: 100%;
    height: 60vh;
    margin: auto;
}
.manu-bg .bg{
    width: 100vw;
    height: 50vw;
    margin-top: 8vh;
    
}

.heading{
   position: absolute;
   top: 24vh;
   width: 100%;
}
.heading h1{
    text-align: center;
    padding: 8px;
    font-size: 8vw;
    font-family: cinzel;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.content{
    background: white;
    margin: auto;
    margin-left: 0px;
    width: 80%;
    box-shadow: 0px 8px 16px 0px black;
    padding: 20px;
    border-radius: 0px 90px 0px 0px;
}

.heading p{
    margin: auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    width: 90%;
    text-align: center;
}


.paragraph{
    width: 80%;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 50px;
    background: rgb(245, 168, 25);
    box-shadow: 0px 8px 16px 0px black;
}

.paragraph p{
    padding: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

}

