*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(240, 197, 191);
    animation: transitionIn 0.75s;
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*---------------------------------navbar menu------------------------------*/

nav{
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 8vh;
    /*background: linear-gradient(to top, rgb(72, 159, 230), rgb(89, 190, 212));*/
    background: black;
    box-shadow: 0px 3px 6px 0px gray;
    z-index: 999;
    top: 0px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 20px 50px 0px 0px;
    
}
nav ul li{
    text-decoration: none;
    margin: 0px 40px 0px 0px;
    transition: 0.1s all ease-in-out;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;

}
nav ul li:hover{
    transform: scale(1.1);
}

.about-drop{
    margin-right: 40px;
}
.about-drop a{
    color: white;
    text-decoration: underline 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;

}

.about-drop-content{
    background: white;
    width: 187px;
    height: auto;
    box-shadow: 0px 3px 6px 0px black;
    display: none;
    top: 40px;
    position: absolute;
    
}

.about-drop-content a{
    text-decoration: none;
    padding: 10px 25px 10px;
    float: left;
    width: 187px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.about-drop:hover .about-drop-content{
    display: block;
}
.about-drop-content a:hover{
    /*background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));*/
    /*background: rgb(240, 197, 191);*/
    background: rgba(255, 166, 0, 0.775);
}

/*------------------------------------------navbar end---------------------------------------------------------*/

.banner img{
    width: 100%;
    height: auto;
    box-shadow: 0px 16px 32px 0px black;

    
    
}

.heading{
    width: 80%;
    height: auto;
    background: white;
    margin: auto;
    margin-top: -20px;
    box-shadow: 0px 4px 8px 0px black;

    
}

.heading h1{
    width: 800px;
    margin: auto;
    text-align: center;
    background: white;
    font-family: cinzel;
    border-bottom: 1px solid black;
    padding: 20px 20px 5px 20px;
}
.heading p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: white;
    text-align: center;
    padding: 20px;
}



.container{
    display: flex;
}


.qa-container{
    width: 37vw;
    height: 37vw;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    margin-top: 100px;
    border-radius: 50%;
    background: rgb(101, 101, 238);
    border: 1px solid blue;
    box-shadow: 0px 12px 24px 0px black;
    
    
}


.qa-container h1{
    margin-top: 60px;
    font-size: 2.1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.qc-container{
    width: 27vw;
    height: 27vw;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    border-radius: 50%;
    background: rgb(226, 159, 34);
    border: 1px solid orange;
    transition: 0.6s all ease-in-out;
    box-shadow: 0px 16px 32px 0px black;


    
}
.qc-container:hover{
    margin-left: 12px;
    margin-top: -8px;
    transform: rotate(45deg -45deg);
}

.qc-container h2{
    margin-top: 50px;
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;

}

.testing-container{
    width: 17vw;
    height: 17vw;
    text-align: center;
    margin: auto;
    margin-top: 56px;
    border-radius: 50%;
    background: rgb(27, 136, 27);
    border: 1px solid green;
    transition: 0.6s all ease-in-out;
    box-shadow: 0px 32px 64px 0px black;

    
}
.testing-container:hover{
    margin-right: 5px;
    margin-top: 2px;
    transform: rotate(45deg -45deg);

}


.testing-container h3{
    margin-top: 100px;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    

}

.content-container{
    width: 60%;
    height: 80vh;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.content-container h1{
    color: rgb(231, 227, 227);
    background: rgb(101, 101, 238);
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid red;
    box-shadow: 0px 8px 16px 0px black;

}

.content-container h1:hover{
    background: rgb(226, 159, 34);

}
.content-container p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}
.content-container span{
    background: rgb(101, 101, 238);
    color: white;
    padding: 3px;
    border-radius: 20px;
    
    


}

.qc{
    margin-top: 50px;
}

.content-container #qa{
    background: rgb(226, 159, 34);
}

.content-container #qa:hover{
    background: rgb(101, 101, 238);

}

.content-container #qa-heading{
    background: rgb(226, 159, 34);
    

    
}



/*-----------------------footer---------------------------------*/


.footer_bg {
    margin-top: 100px;
    width: 100%;
    height: auto;
    min-height: 58vh;
    background-color: rgb(10, 10, 10);
    border-top: 2px solid wheat;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
}


.footer_bg .fb {
    width: 3vw;
    height: 3vw;
    margin-left: 8px;
    margin-top: 20px;
    transition: 0.1s all ease-in-out;

}

.footer_bg .fb:hover {
    transform: scale(1.1);
}

.footer_bg .twitter {
    width: 3vw;
    height: 3vw;
    margin-left: 10px;
    margin-top: 20px;
    transition: 0.1s all ease-in-out;

}

.footer_bg .twitter:hover {
    transform: scale(1.1);
}

.footer_bg .gplus {
    width: 3vw;
    height: 3vw;
    margin-left: 10px;
    margin-top: 20px;
    transition: 0.1s all ease-in-out;

}

.footer_bg .gplus:hover {
    transform: scale(1.1);
}

.footer_bg .ln {
    width: 3vw;
    height: 3vw;
    margin-left: 10px;
    margin-top: 20px;
    transition: 0.1s all ease-in-out;

}

.footer_bg .ln:hover {
    transform: scale(1.1);
}

.footer_bg .yt {
    width: 3vw;
    height: 3vw;
    margin-left: 9px;
    margin-top: 25px;
    transition: 0.1s all ease-in-out;

}

.footer_bg .yt:hover {
    transform: scale(1.1);
}

.footer-nav {
    height: auto;
    width: 80px;
    background: linear-gradient(to top, rgba(221, 49, 49, 0.521), rgba(65, 90, 230, 0.521));

}



.footer-terms {
    position: absolute;
    top: 395px;
    left: 150px;
}

.footer-terms a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.footer-terms a:hover {
    transform: scale(1.1);
}

.footer-rights {
    position: absolute;
    width: auto;
    max-width: 100%;
    margin: auto;
    float: right;
    top: 355px;
    right: 0px;
    font-size: 13px;
    color: white;
}

.footer-menu {
    width: 100vw;
    height: auto;
    margin-left: 65px;
    margin-top: 25px;
    display: flex;
    padding: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1;

}


.footer-aboutus {
    top: 25px;
    width: auto;
    left: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-aboutus b span {
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;
}

.footer-aboutus a {
    text-decoration: none;
    margin-top: 10px;
    width: 130px;
    color: white;
    text-align: left;
    font-size: 18px;
    transition: 0.1s all ease-in-out;
}

.footer-aboutus a:hover {
    border-bottom: 1px solid red;
    transform: scale(1.1);
}


.corporate-sales {
    top: 25px;
    left: 0px;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.corporate-sales b span {
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;
}

.corporate-sales a {
    text-decoration: none;
    margin-top: 10px;
    width: 148px;
    color: white;
    text-align: left;
    font-size: 18px;
    padding: 2px;
    transition: 0.1s all ease-in-out;
}

.corporate-sales a:hover {
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

.manufacturing {
    top: 25px;
    left: 0px;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.manufacturing b span {
    text-decoration: none;
    color: white;
    margin-left: 0px;
    font-size: 25px;
    border-bottom: 1px solid red;

}

.manufacturing a {
    text-decoration: none;
    margin-top: 10px;
    width: 150px;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-left: 0px;
    transition: 0.1s all ease-in-out;
}

.manufacturing a:hover {
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

.footer-life-at {
    top: 0px;
    left: 0px;
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-life-at a {
    text-decoration: none;
    width: auto;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 0px;
    transition: 0.1s all ease-in-out;

}

.footer-life-at a:hover {
    border-bottom: 1px solid red;
    transform: scale(1.1);
}

.footer-logo {
    position: absolute;
    top: 0px;
    width: 100%;

}

.footer-logo img {
    position: relative;
    width: 78px;
    height: 78px;
    top: 45vh;
    float: right;
    right: -20px;
}

.footer-logo h4 {
    position: relative;
    color: red;
    top: 49vh;
    float: right;
    font-size: 25px;
    right: 180px;
}


/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/
/*----------------------------------------------------Media Start Here------------------------------------------------------------------------*/


@media(max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background: rgb(240, 197, 191);
        animation: transitionIn 0.75s;
    }
    
    
    @keyframes transitionIn{
        from{
            opacity: 0;
            transform: translateY(-10px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    /*---------------------------------navbar menu------------------------------*/
    
     /*-----------------------------navbar-----------------------------*/
    
     nav{
        position: fixed;
        width: 100%;
        height: 10vh;

        /*background: linear-gradient(to top, rgb(72, 159, 230), rgb(89, 190, 212));*/
        background: black;
        box-shadow: 0px 3px 6px 0px gray;
        z-index: 999;
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        float: right;
        margin: 0px 0px 0px 10px;
        
    }
    nav ul li{
        text-decoration: none;
        margin: 10px 15px 0px 0px;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 3vw;
        font-family: Arial, Helvetica, sans-serif;
        
    
    }
    
    .about-drop{
        margin-right: 15px;
        margin-top: 10px;
    }
    .about-drop a{
        color: white;
        font-size: 3vw;
        text-decoration: underline 1px solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .about-drop-content{
        background: white;
        width: 187px;
        height: auto;
        box-shadow: 0px 3px 6px 0px black;
        display: none;
        top: 40px;
        position: absolute;
        
    }
    
    .about-drop-content a{
        text-decoration: none;
        padding: 10px 25px 10px;
        float: left;
        width: 187px;
        text-align: left;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    
    }
    
    .about-drop:hover .about-drop-content{
        display: block;
    }
    .about-drop-content a:hover{
        /*background: linear-gradient(to top, rgba(49, 144, 221, 0.521), rgba(65, 200, 230, 0.521));*/
        /*background: rgb(240, 197, 191);*/
        background: rgba(255, 166, 0, 0.775);
    }
    
    /*------------------------------------------navbar end---------------------------------------------------------*/
    
    .banner img{
        width: 100%;
        height: auto;
        margin-top: 80px;
        box-shadow: 0px 16px 32px 0px black;
    
        
        
    }
    
    .heading{
        width: 80%;
        height: auto;
        background: white;
        margin: auto;
        margin-top: 0px;
        box-shadow: 0px 4px 8px 0px black;
    
        
    }
    
    .heading h1{
        width: 80vw;
        margin: auto;
        text-align: center;
        background: white;
        font-family: cinzel;
        font-size: 5vw;
        border-bottom: 1px solid black;
        padding: 20px 20px 5px 20px;
    }
    .heading p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        background: white;
        text-align: center;
        padding: 20px;
    }
    
    
    
    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    
    .qa-container{
        width: 80vw;
        height: 80vw;
        text-align: center;
        margin: auto;
        margin-left: 40px;
        margin-top: 100px;
        border-radius: 50%;
        background: rgb(101, 101, 238);
        border: 1px solid blue;
        box-shadow: 0px 12px 24px 0px black;
        
        
    }
    
    
    .qa-container h1{
        margin-top: 60px;
        font-size: 5.1vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .qc-container{
        width: 70vw;
        height: 70vw;
        text-align: center;
        margin: auto;
        margin-top: 35px;
        border-radius: 50%;
        background: rgb(226, 159, 34);
        border: 1px solid orange;
        transition: 0.6s all ease-in-out;
        box-shadow: 0px 16px 32px 0px black;
    
    
        
    }
    .qc-container:hover{
        margin-left: 12px;
        margin-top: -8px;
        transform: rotate(45deg -45deg);
    }
    
    .qc-container h2{
        margin-top: 50px;
        font-size: 4.6vw;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .testing-container{
        width: 60vw;
        height: 60vw;
        text-align: center;
        margin: auto;
        margin-top: 56px;
        border-radius: 50%;
        background: rgb(27, 136, 27);
        border: 1px solid green;
        transition: 0.6s all ease-in-out;
        box-shadow: 0px 32px 64px 0px black;
    
        
    }
    .testing-container:hover{
        margin-right: 5px;
        margin-top: 2px;
        transform: rotate(45deg -45deg);
    
    }
    
    
    .testing-container h3{
        margin-top: 100px;
        font-size: 4.4vw;
        font-family: Arial, Helvetica, sans-serif;
        
    
    }
    
    .content-container{
        width: 85%;
        height: 80vh;
        margin: auto;
        margin-top: 300px;
        margin-left: 20px;
        margin-bottom: 50px;
        
    }
    
    .content-container h1{
        color: rgb(231, 227, 227);
        background: rgb(101, 101, 238);
        border-radius: 20px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 5px solid red;
        box-shadow: 0px 8px 16px 0px black;
    
    }
    
    .content-container h1:hover{
        background: rgb(226, 159, 34);
    
    }
    .content-container p{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 20px;
    }
    .content-container span{
        background: rgb(101, 101, 238);
        color: white;
        padding: 3px;
        border-radius: 20px;
        
        
    
    
    }
    
    .qc{
        margin-top: 50px;
    }
    
    .content-container #qa{
        background: rgb(226, 159, 34);
    }
    
    .content-container #qa:hover{
        background: rgb(101, 101, 238);
    
    }
    
    .content-container #qa-heading{
        background: rgb(226, 159, 34);
        
    
        
    }
    
    
    
    /*-----------------------footer---------------------------------*/
    
    
    /*----------------------------------footer here-------------------------*/
    
    .footer_bg {
        width: 100%;
        height: auto;
        min-height: 126vh;
        left: 0px;
        margin-top: 100px;
        background-color: rgb(10, 10, 10);
        z-index: 1;
        border-top: 2px solid wheat;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1;
    }


    .footer_bg .fb {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        margin-top: 50px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .fb:hover {
        transform: scale(1.1);
    }

    .footer_bg .twitter {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-top: 80px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .twitter:hover {
        transform: scale(1.1);
    }

    .footer_bg .gplus {
        width: 42px;
        height: 42px;
        margin-left: 10px;
        margin-top: 80px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .gplus:hover {
        transform: scale(1.1);
    }

    .footer_bg .ln {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-top: 82px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .ln:hover {
        transform: scale(1.1);
    }

    .footer_bg .yt {
        width: 40px;
        height: 40px;
        margin-left: 9px;
        margin-top: 83px;
        transition: 0.1s all ease-in-out;

    }

    .footer_bg .yt:hover {
        transform: scale(1.1);
    }

    .footer-nav {
        height: 125.7vh;
        width: 80px;
        margin-left: -13px;
        background: linear-gradient(to top, rgba(221, 49, 49, 0.521), rgba(65, 90, 230, 0.521));

    }

    .footer_bg .footer-content2 {
        position: absolute;
        top: 640px;
        left: 0px;
        width: auto;
        max-width: 100%;
        height: 50px;
        padding: 15px;
        text-align: right;
        right: 50px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: none;
        justify-content: space-around;
        flex: 1 1;

    }

    .footer_bg .footer-content2 a {
        text-decoration: none;
        color: white;
        margin-left: 0px;
        font-weight: 700;
        cursor: pointer;

    }

    .footer-terms {
        position: absolute;
        top: 895px;
        display: none;
        left: 0px;
    }

    .footer-terms a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        transition: 0.1s all ease-in-out;
    }

    .footer-terms a:hover {
        transform: scale(1.1);
    }

    .footer-rights {
        position: absolute;
        width: auto;
        max-width: 100%;
        margin: auto;
        float: right;
        top: 355px;
        right: 0px;
        font-size: 13px;
        color: white;
    }

    .footer-menu {
        position: relative;
        margin-left: 65px;
        margin-top: 25px;
        display: flex;
        padding: 25px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1 1;

    }


    .footer-aboutus {
        width: auto;
        margin-left: -30px;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .footer-aboutus b span {
        text-decoration: none;
        color: white;
        margin-left: -30px;
        font-size: 5vw;
        border-bottom: 1px solid red;
    }

    .footer-aboutus a {
        text-decoration: none;
        margin-top: 10px;
        width: 130px;
        color: white;
        text-align: left;
        font-size: 4vw;
        transition: 0.1s all ease-in-out;
    }

    .footer-aboutus a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }


    .corporate-sales {
        top: 25px;
        margin-left: -30px;
        margin-right: 40px;
        width: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .corporate-sales b span {
        text-decoration: none;
        color: white;
        margin-left: 0px;
        font-size: 5vw;
        border-bottom: 1px solid red;
    }

    .corporate-sales a {
        text-decoration: none;
        margin-top: 10px;
        width: 148px;
        color: white;
        text-align: left;
        font-size: 4vw;
        padding: 2px;
        transition: 0.1s all ease-in-out;
    }

    .corporate-sales a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .manufacturing {
        top: 25px;
        margin-left: -22px;
        margin-right: 50px;
        width: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .manufacturing b span {
        text-decoration: none;
        color: white;
        margin-left: -25px;
        font-size: 5vw;
        border-bottom: 1px solid red;

    }

    .manufacturing a {
        text-decoration: none;
        margin-top: 10px;
        width: 150px;
        color: white;
        text-align: left;
        font-size: 4vw;
        margin-left: 0px;
        transition: 0.1s all ease-in-out;
    }

    .manufacturing a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .footer-life-at {
        top: 0px;
        margin-left: -58px;
        display: flex;
        width: auto;
        text-align: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

    }

    .footer-life-at a {
        text-decoration: none;
        width: auto;
        color: white;
        text-align: left;
        font-size: 5vw;
        margin-top: 20px;
        margin-left: 0px;
        transition: 0.1s all ease-in-out;

    }

    .footer-life-at a:hover {
        border-bottom: 1px solid red;
        transform: scale(1.1);
    }

    .footer-logo {
        position: absolute;
        top: 0px;
        width: 100%;

    }

    .footer-logo img {
        display: none;
        position: relative;
        width: 78px;
        height: 78px;
        top: 110vh;
        float: right;
        right: -50px;
    }

    .footer-logo h4 {
        display: none;
        position: relative;
        color: red;
        top: 114vh;
        float: right;
        font-size: 25px;
        right: 145px;
    }

}